/* style the view buttons inside the table */
[id^="btn_view"]{
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: -4px !important;
    margin-top: -4px;
}

/* the following style elements correct some strange aspects of flipbox */
.avatar {
  display: none;
}

[class^='card-background'] {
  height: 1em !important;
}

.card-front-1 {
  padding-left: 10px;
  margin-left: 5px;
  padding-right: 10px;
  margin-right: 5px;
}

.rotate-container {
  margin-right: 10px;
}

/* remove the More button from flipBox */
[id^="btn-"][id$="-front"] {
  display: none !important;
}

#first_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#table_div {
  overflow-x: auto;
}

/* solving mirror on tables */
.flip-container {
  overflow-x: auto;
}
/* align preview and confirm buttons */
#preview_confirm  {
  display: flex;
  justify-content: flex-end;
}
.div_between {
  width: 10px;
}

#choices_box {
  height: 63px;
  margin-top: -20px;
  padding-top: 6px;
}
